/* définition des polices personnalisées */

@font-face 
{
    font-family: 'BallparkWeiner';
    src: url('../polices/ballpark.eot');
    src: url('../polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('../polices/ballpark.woff') format('woff'),
         url('../polices/ballpark.ttf') format('truetype'),
         url('../polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../polices/dayrom.eot');
    src: url('../polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../polices/dayrom.woff') format('woff'),
         url('../polices/dayrom.ttf') format('truetype'),
         url('../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* élements principaux de la page */

body
{
    background: url(../img/fond-hightech.png);
    background-attachment: fixed;
    font-family: 'trebuchet MS'; Arial, serif;
    color: #1a1b1c;
}

#bloc_page
{
    width: 900px; /* limite fixée à 900px de large, pour un design qui s'adapte aux dimensions de l'écran, utiliser les % */
    margin: auto; /* centré */
}

@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase; /* les titres sont toujours en majuscule, il existe aussi lowercase pour les minuscules */
}

/* header */

header
{
    background-color: rgb(8, 13, 20);
    box-shadow: 0px 0px 0px 10px rgb(8, 13, 20);
}

#logo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo img
{
    width: 1000px;
    height: 400px;
}

/* navigation */

nav ul
{
    list-style-type: none; /* fait disparaitre les puces */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(204,211,221,0.4);
    align-items: center;
    width: 95px;
    height: 430px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #525457 ;    
}

nav li
{
    margin-left: -40px;
}

i
{
    font-size: 65px;
    color: black;
}

i:hover
{
    color: rgb(81, 41, 134);
}

.fa-youtube:hover
{
    color: red;
}

.fa-facebook:hover
{
    color: rgb(58, 88, 155);
}

.fa-twitter:hover
{
    color: rgb(85, 173, 238);
}

.fa-at:hover
{
    color: rgb(241, 110, 34);
}

/* banniere */

#tile
{
    border: black solid 1px;
    width: 783px;
    height: 430px;
    margin: -447px 0px 20px 150px;
    border-radius: 5px;
    background: url(../img/ford.jpg) no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #525457 ;
}

#tile-description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(36, 33, 33, 0.7);
    color: white;
    font-size: 0.8em;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 12px;
    flex: 3;
}

.avatar
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: rgba(204,211,221,0.83);
    box-shadow: 0px 2px 5px #525457;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9em;
}

#fleche_bulle
{
    position: absolute;
    top: 200px;
    left: -12px;
}

#photo_kit
{
    text-align: center;
}

#photo_kit img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 2px;
}

aside h2
{
    font-family: Dayrom, serif;
    font-size: 1.15em;
    font-style: italic;
    margin-top: 0px;
    font-weight: normal;
}

/* footer */

footer
{
    display: flex;
    background: url(../img/footer.jpg);
    width: 100%;
    box-shadow: 0px 10px 10px 10px rgb(193, 226, 235);
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
    text-align: center;
}

#Copyright
{
    width: 40%;
    text-align: center;
}

#liens_utiles
{
    width: 60%;
}

#liste_liens
{
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

#liens_utiles ul
{
    padding-left: 2px;
    list-style-image: url(../img/ico_liensexterne.png);
}

#liens_utiles a
{
    text-decoration: none;
    color: #760001;
    font-size: 1.2em;
}

